{% extends '::base.html.twig' %}
{%block body%}
    {# <form action="{{path('carto_fiche_tag_add')}}" method="post" id="tag-add-form"> #}
    {{ form_start(form, {"action": path('carto_fiche_tag_edit', { 'id': tag.id })} ) }}
    <p>{{ form_label(form.libelle) }}</p>
    <p>{{ form_widget(form.libelle) }}</p>
    <input type="submit" id="btn-sbmt" value="Envoyer">
    {{ form_end(form) }}
{%endblock%}